/*
Game Lab CSS file
You don't need to download or edit this file.
*/

h1, h2 {
	text-align: center;
}

p {
	width: 600px;
	margin: 1em auto;
}

#game {
	margin: auto;
	position: relative;
	height: 300px;
	width: 500px;
}

#start, #end {
	position: absolute;
	top: 205px;
	height: 30px;
	width: 30px;
	border: 1px solid black;
	padding: 5px;
	cursor: default;
	
	font-family: "Helvetica", "Arial", sans-serif;
	
}
